{
    "app_url":              "/",
    "db_type":              "sqlite3",    
    "db_url":               "data.db",
    "redis_url":            "localhost:6379",
    "listen_addr":          ":8080",
    "log_sql":              false,
    "dev":                  false,
    "registration_enabled": false,
    "encryption_key":       "generate 32 chars string",
    "sparkpost_key":        "",
    "demo_lock":            0
}
