    <div class="login-box">
        <div class="login-logo">
            <a href="{{ .Conf.AppUrl }}"><img src="{{ .Conf.AppUrl }}/public/img/logo.png"></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Verify Your Email</p>

            <div class="alert alert-success" style="margin-bottom: 0px;">
                Please verify your email to activate account.
            </div>

        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->