    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Add New Website
                <small>and start tracking stats right away</small>
            </h1>
        </section>

        <section class="content">

            {{ render "partials/flash.html"}}

            <div class="row">
                <div class="col-md-6">

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Your Website Info</h3>
                        </div>
                        <form action="" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Website Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Website Name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Website URL</label>
                                    <input type="text" class="form-control" placeholder="Enter Website URL" name="url" required>
                                </div>
                            </div>
                            <div class="box-footer">
                                <input type="submit" value="Add Website" class="btn btn-primary">
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </section>
    </div>