    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Edit Your Website
                <small>change name or URL</small>
            </h1>
        </section>

        <section class="content">

            {{ render "partials/flash.html"}}

            <div class="row">
                <div class="col-md-5">

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Your Website Info</h3>
                        </div>
                        <form action="" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Website Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Website Name" name="name" required value="{{ .Form.Name }}">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Website URL</label>
                                    <input type="text" class="form-control" placeholder="Enter Website URL" name="url" required value="{{ .Form.Url }}">
                                </div>
                            </div>
                            <div class="box-footer">
                                <input type="submit" value="Update" class="btn btn-primary">&nbsp;&nbsp;
                                <a href="#" class="btn btn-default">Make Default</a>
                                <a href="javascript:;" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal">Delete</a>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-md-7">

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Tracking Code</h3>
                        </div>
                        <div class="box-body"><pre><code class="html" style="font-size: 0.9em;">&lt;!-- PicoStats tracker --&gt;
&lt;script&gt;
    (function(d, w, t, o){w[o]=w[o]||function(){(w[o].q=w[o].q||[]).push(arguments)};
    a=d.createElement('script'),m=d.getElementsByTagName('script')[0];a.async=1;a.src=t;
    m.parentNode.insertBefore(a,m)})(document, window, '{{ .TrackerUrl }}', 'ps');

    ps('create', '{{ .WebsiteId }}');
    ps('pageview');
&lt;/script&gt;
&lt;!-- / PicoStats tracker --&gt;</code></pre>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </div>

    <script type="text/javascript">
        var __open_dashboard = true;
    </script>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete Website?</h4>
                  </div>
                  <div class="modal-body">
                        <p>Are you sure you want to delete your website? This action can't be undone.</p>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="{{ .Conf.AppUrl }}/app/websites/delete/{{ .Form.Id }}" class="btn btn-danger">Delete Website</a>
                  </div>
            </div>
      </div>
</div>